body, html {
    background-image: url('assets/img/landingPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar-logo {
    margin-left: 10px;
}

.navbar-collapse {
    margin-right: 20px;
}

.nav-item {
    margin-left: 8px;
    margin-right: 8px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

#landing-page-logo {
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 8%;
}

.icon {
    position: relative;
    top: 4px;
    font-size: 20px;
    padding-right: 5px;
}