<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/home">
      <img id="navbar-logo" src="assets/img/logo.png" height="50" alt="Toy Trade Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home"><i class="ri-home-2-line icon"></i>Home</a>
      <a class="nav-item nav-link" routerLink="/chat"><i class="ri-message-line icon"></i>Messages</a>
      <a class="nav-item nav-link" routerLink="/notifications"><i class="ri-notification-2-line icon"></i>Notifications</a>
      <a class="nav-item nav-link" routerLink="/profile"><i class="ri-user-3-line icon"></i>Profile</a>
      <app-login-button [blueButton]="false"></app-login-button>
      <!-- <a class="nav-item nav-link" routerLink="/" onclick="signOut()"><i class="ri-logout-box-line icon"></i>Logout</a> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
