<main id="chat-page">
  <!-- Header Component -->
  <app-header></app-header>
  <div class="container">
    <h1 class="text-center">Toy Trade Messaging</h1>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="Search">
                <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list first">
              <div class="chat_people">
                <div class="chat_img"> <img class="chat_img" src="assets/svg/profileIcon.svg" alt="@boardgames44">
                </div>
                <div class="chat_ib">
                  <h5>@boardgames44 <span class="chat_date">March 10</span></h5>
                  <p>Messaging Thread about some toys for trading!</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img class="chat_img" src="assets/svg/profileIcon.svg" alt="@toystorytoys">
                </div>
                <div class="chat_ib">
                  <h5>@toystorytoys <span class="chat_date">March 8</span></h5>
                  <p>Messaging Thread about some toys for trading!</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img class="chat_img" src="assets/svg/profileIcon.svg" alt="@toytrader70"> </div>
                <div class="chat_ib">
                  <h5>@toytrader70 <span class="chat_date">March 1</span></h5>
                  <p>Messaging Thread about some toys for trading!</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img class="chat_img" src="assets/svg/profileIcon.svg" alt="@ilovelegos"> </div>
                <div class="chat_ib">
                  <h5>@ilovelegos <span class="chat_date">Feb 24</span></h5>
                  <p>Messaging Thread about some toys for trading!</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img class="chat_img" src="assets/svg/profileIcon.svg" alt="@starwars101"> </div>
                <div class="chat_ib">
                  <h5>@starwars101 <span class="chat_date">Feb 12</span></h5>
                  <p>Messaging Thread about some toys for trading!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img class="chat_img" src="assets/svg/profileIcon.svg" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Hello</p>
                  <span class="time_date"> 11:01 AM | Today</span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Hello</p>
                <span class="time_date"> 11:01 AM | Today</span>
              </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img class="chat_img" src="assets/svg/profileIcon.svg" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>How are you doing?</p>
                  <span class="time_date"> 11:01 AM | Today</span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Good you?</p>
                <span class="time_date"> 11:01 AM | Today</span>
              </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img class="chat_img" src="assets/svg/profileIcon.svg" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Pretty good, I am looking to work with you for a trade.</p>
                  <span class="time_date"> 11:01 AM | Today</span>
                </div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
