.navbar {
  background-color: #f7f7f7;
}

#navbar-logo {
  margin-left: 10px;
}

.navbar-collapse {
  margin-right: 20px;
}

.nav-item {
  margin-left: 8px;
  margin-right: 8px;
}

.icon {
  position: relative;
  top: 4px;
  font-size: 20px;
  padding-right: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.container {
  margin-top: 5%;
}

.text-center {
  font-size: 24px;
  margin-bottom: 2%;
}

.inbox_people {
  /* background: #f8f8f8 none repeat scroll 0 0; */
  float: left;
  /* overflow: hidden; */
  width: 40%;
  border-right: 1px solid #aaaaaa;
}

.inbox_msg {
  border: 2px solid #aaaaaa;
  border-radius: 12px;
  clear: both;
  overflow: hidden;
  margin-bottom: 2%;
}

.recent_heading {
  float: left;
  width: 40%;
}

.recent_heading h4 {
  color: #169cc6;
  font-size: 21px;
  margin: auto;
}

.chat_ib h5 {
  font-size: 15px;
  color: black;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: black;
  margin: auto
}

.chat_img {
  float: left;
  width: 30px;
  border-radius: 50%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.sent_msg {
  float: right;
  width: 40%;
  padding-left: 10px;
}

.received_msg {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding-left: 10px;
}

.received_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: black;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.mesgs {
  float: left;
  padding: 25px;
  width: 60%;
}

.sent_msg p {
  background: #169cc6 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: white;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.incoming_msg {
  overflow: hidden;
  margin-bottom: 10px;
}

.outgoing_msg {
  overflow: hidden;
  margin-bottom: 10px;
}

.msg_send_btn {
  border: solid 1px #169cc6;
  border-radius: 50%;
  color: #169cc6;
  margin-right: 6px;
}

.msg_transaction_btn {
  border: solid 1px #169cc6;
  border-radius: 50%;
  color: #169cc6;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

.form-control {
  width: 83%;
}
