body, html {
    
}

/* Landing Page (index.html) */

#index-page {
    background-image: url('assets/img/landingPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar {
    background-color:#f7f7f7;
}

#navbar-logo {
    margin-left: 10px;
}

.navbar-collapse {
    margin-right: 20px;
}

.nav-item {
    margin-left: 8px;
    margin-right: 8px;
}

.icon {
    position: relative;
    top: 4px;
    font-size: 20px;
    padding-right: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

#landing-page-logo {
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 8%;
}

.g-signin2 {
    width: 100%;
}
  
.g-signin2 > div{
    margin: 0 auto;
}

/* Home Page (home.html) */
#home-page .container{
    margin-top: 5%;
    text-align: center;
}

#home-page .header {
    font-size: 24px;
    margin-bottom: 2%;
}

#home-page .search-col {
    padding: 0px;
}

#home-page .search-form {
    margin-left: 15px;
}

/* #home-page .search-input {
    border-radius: 20px;
} */

#home-page #search-icon {
    position: relative;
    top: 2px;
}

#home-page .profile-icon {
    width: 30px;
    margin-right: 10px;
}

#home-page .user-link {
    position: relative;
    top: 1px;
}

#home-page .card {
    border: 2px solid #aaaaaa;
    border-radius: 12px;
}

#home-page .row {
    text-align: left;
    margin: 2% 0;
}

#home-page .button {
    border-radius: 10px;
}

#home-page .link {
    color: #169cc6;
    text-decoration: none;
}

#home-page .toy-image {
    width: 100%;
    /* height: 100%; */
    height: 300px;
    border-radius: 0px 0px 0px 10px;
}

#home-page .card {
    margin-top: 15px;
    margin-bottom: 15px;
}

#home-page .card-col {
    padding: 0px;
    text-align: center;
}

#home-page .card-row {
    margin: 0px;
    padding: 0px;
}

#home-page .card-title {
    margin: 20px;
    text-align: left;
}

#home-page .card-body {
    padding: 0px;
}

#home-page .request-button {
    margin-top: 55%;
}

/* Notifications Page (notifications.html) */

#notifications-page .container{
    margin-top: 5%;
    text-align: center;
}

#notifications-page .header {
    font-size: 24px;
    margin-bottom: 2%;
}

#notifications-page .card {
    width: 50%;
    border: 2px solid #aaaaaa;
    border-radius: 12px;
}

#notifications-page .row {
    text-align: left;
    margin: 2% 0;
}

#notifications-page .button {
    float: right;
    border-radius: 10px;
}

#notifications-page .link {
    color: #169cc6;
    text-decoration: none;
}