<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/" skipLocationChange>
    <img id="navbar-logo" src="assets/img/logo.png" height="50" alt="Toy Trade Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" routerLink="/about" skipLocationChange><i class="ri-information-line icon"></i>About</a> -->
      <app-login-button [blueButton]="false"></app-login-button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
