<div *ngIf="blueButton; else navButton">
  <div *ngIf="auth.user | async as user; else showLogin">
    <button (click)="logout()" class="btn btn-primary"><i class="google-icon ri-google-fill"></i>Logout</button>
  </div>
  <ng-template #showLogin>
    <button (click)="login()" class="btn btn-primary login-with-google-button"><i
        class="google-icon ri-google-fill"></i>Login with Google</button>
  </ng-template>
</div>
<ng-template #navButton>
  <div *ngIf="auth.user | async as user; else showLogin">
    <a class="nav-item nav-link" (click)="logout()"><i class="ri-logout-box-line icon"></i>Logout
      {{ user.displayName }}</a>
  </div>
  <ng-template #showLogin>
    <a (click)="login()" class="nav-item nav-link"><i class="ri-login-box-line icon"></i>Login</a>
  </ng-template>
</ng-template>
