/* HEADER COMPONENT */
.navbar {
  background-color:#f7f7f7;
}

#navbar-logo {
  margin-left: 10px;
}

.navbar-collapse {
  margin-right: 20px;
}

.nav-item {
  margin-left: 8px;
  margin-right: 8px;
}

.icon {
  position: relative;
  top: 4px;
  font-size: 20px;
  padding-right: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

/* Profile Page (profile.html) */

#profile-page .container {
    margin-top: 5%;
    text-align: center;
}

#profile-page .header {
    font-size: 24px;
    margin-bottom: 2%;
}

#profile-page .search-col {
    padding: 0px;
}

#profile-page .profile-icon {
    width: 30px;
    margin-right: 10px;
}

#profile-page .user-link {
    position: relative;
    top: 1px;
}

#profile-page .card {
    border: 2px solid #aaaaaa;
    border-radius: 12px;
}

#profile-page .card-header {
    border-bottom: 2px solid #aaaaaa;
}

#profile-page .row {
    text-align: left;
    margin: 2% 0;
}

#profile-page .link {
    color: #169cc6;
    text-decoration: none;
}

#profile-page .toy-image {
    width: 100%;
    height: 300px;
    border-radius: 0px 0px 0px 10px;
}

#profile-page .card {
    margin-top: 15px;
    margin-bottom: 15px;
}

#profile-page .card-col {
    padding: 0px;
    text-align: center;
}

#profile-page .card-row {
    margin: 0px;
    padding: 0px;
}

#profile-page .card-title {
    margin: 20px;
    text-align: left;
}

#profile-page .card-body {
    padding: 0px;
}

#profile-page .request-button {
    border-radius: 10px;
    margin-top: 55%;
}

#profile-page .modal-toy-image {
    width: 100%;
    height: 100%;
}

#profile-page .modal-body {
    padding: 0px;
}

#profile-page .modal-toy-description {
    margin: 20px;
    margin-left: 50px;
}

#profile-page .modal-icon {
    font-size: 33px;
}

#profile-page .modal-icon-text {
    position: relative;
    top: 12px;
    padding-left: 10px;
}

#profile-page .modal-col {
    padding: 0px;
}

#profile-page .profile-description {
    padding-left: 50px;
}
