/* HEADER COMPONENT */
.navbar {
  background-color: #f7f7f7;
}

#navbar-logo {
  margin-left: 10px;
}

.navbar-collapse {
  margin-right: 20px;
}

.nav-item {
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.icon {
  position: relative;
  top: 4px;
  font-size: 20px;
  padding-right: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

/* LANDING PAGE */
#index-page .container {
  text-align: center;
}

#index-page .google-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.login-with-google-button {
  margin-top: 20px;
}

/* NEW USER PAGE */
#new-user-page .header {
  margin-top: 5%;
  text-align: center;
  font-size: 24px;
}

#new-user-page .button {
  border-radius: 10px;
}

#new-user-page .new-user-submit-btn {
  width: 100%;
}

/* HOMEPAGE */
#home-page .container {
  margin-top: 5%;
  text-align: center;
}

#home-page .header {
  font-size: 24px;
  margin-bottom: 2%;
  margin-bottom: 30px;
}

#home-page .search-col {
  padding: 0px;
}

#home-page .refine-icon {
  position: relative;
  top: 2px;
  right: 5px;
  padding-left: 5px;
}

#home-page .refine-area {
  margin-left: 15px;
}

#home-page .profile-icon {
  width: 30px;
  margin-right: 10px;
}

#home-page .user-link {
  position: relative;
  top: 1px;
}

#home-page .toy-card {
  border: 2px solid #aaaaaa;
  border-radius: 12px;
  cursor: pointer;
}

#home-page .card-header {
  border-bottom: 2px solid #aaaaaa;
}

#home-page .row {
  text-align: left;
  margin: 2% 0;
}

#home-page .link {
  color: #169cc6;
  text-decoration: none;
}

#home-page .toy-image {
  width: 100%;
  height: 300px;
  border-radius: 0px 0px 0px 10px;
  border-right: 2px solid #aaaaaa;
}

#home-page .toy-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

#home-page .card-col {
  padding: 0px;
  text-align: center;
}

#home-page .card-row {
  margin: 0px;
  padding: 0px;
}

#home-page .card-title {
  margin: 20px;
  text-align: left;
}

#home-page .card-body {
  padding: 0px;
}

#home-page .request-button {
  border-radius: 10px;
  margin-top: 55%;
}

#home-page .modal-toy-image {
  width: 100%;
  height: 100%;
}

#home-page .modal-body {
  padding: 0px;
}

#home-page .modal-toy-description {
  margin: 20px;
  margin-left: 50px;
}

#home-page .modal-icon {
  font-size: 33px;
}

#home-page .modal-icon-text {
  position: relative;
  top: 12px;
  padding-left: 10px;
}

#home-page .modal-col {
  padding: 0px;
}

#home-page .profile-icon {
  border-radius: 50%;
}

#home-page .refine-form {
  margin: 20px;
}

#home-page .refine-category {
  margin-bottom: 20px;
}

#home-page .refine-tag-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  .dashboard-toy-title {
    display: none;
  }

  #home-page .toy-image {
    border-right: none;
    border-radius: 0px 0px 10px 10px;
  }
}

.refine-header {
  margin-left: 20px;
  margin-top: 10px;
}

/* ADD TOY PAGE */
#addtoy-page .header {
  margin-top: 5%;
  text-align: center;
}

#addtoy-page .upload-button {
  margin-top: 5%;
}

/* PROFILE PAGE */
#profile-page .container {
  margin-top: 5%;
  text-align: center;
}

#profile-page .header {
  font-size: 24px;
  margin-bottom: 2%;
  margin-bottom: 30px;
}

#profile-page .search-col {
  padding: 0px;
}

#profile-page .profile-icon {
  width: 30px;
  margin-right: 10px;
}

#profile-page .user-link {
  position: relative;
  top: 1px;
}

#profile-page .card {
  border: 2px solid #aaaaaa;
  border-radius: 12px;
  cursor: pointer;
}

#profile-page .card-header {
  border-bottom: 2px solid #aaaaaa;
}

#profile-page .row {
  text-align: left;
  margin: 2% 0;
}

#profile-page .link {
  color: #169cc6;
  text-decoration: none;
}

#profile-page .toy-image {
  width: 100%;
  height: 300px;
  border-radius: 0px 0px 0px 10px;
  border-right: 2px solid #aaaaaa;
}

#profile-page .card {
  margin-top: 15px;
  margin-bottom: 15px;
}

#profile-page .card-col {
  padding: 0px;
  text-align: center;
}

#profile-page .card-row {
  margin: 0px;
  padding: 0px;
}

#profile-page .card-title {
  margin: 20px;
  text-align: left;
}

#profile-page .card-body {
  padding: 0px;
}

#profile-page .request-button {
  border-radius: 10px;
  margin-top: 55%;
}

#profile-page .modal-toy-image {
  width: 100%;
  height: 100%;
}

#profile-page .modal-body {
  padding: 0px;
}

#profile-page .modal-toy-description {
  margin: 20px;
  margin-left: 50px;
}

#profile-page .modal-icon {
  font-size: 33px;
}

#profile-page .modal-icon-text {
  position: relative;
  top: 12px;
  padding-left: 10px;
}

#profile-page .modal-col {
  padding: 0px;
}

#profile-page .profile-icon {
  border-radius: 50%;
}

#profile-page .profile-photo {
  text-align: center;
}

#profile-page .profile-description {
  text-align: center;
  margin-bottom: 20px;
}

#profile-page .profile-description p {
  margin: auto;
  width: 40%;
}

@media only screen and (max-width: 1000px) {
  #profile-page .profile-description p {
    margin: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .dashboard-toy-title {
    display: none;
  }

  #profile-page .toy-image {
    border-right: none;
    border-radius: 0px 0px 10px 10px;
  }
}

/* NOTIFICATIONS PAGE */
#notifications-page .container {
  margin-top: 5%;
  text-align: center;
}

#notifications-page .header {
  font-size: 24px;
  margin-bottom: 2%;
  margin-bottom: 30px;
}

#notifications-page .history-header {
  margin-top: 40px;
}

#notifications-page .card {
  width: 50%;
  border: 2px solid #aaaaaa;
  border-radius: 12px;
}

@media only screen and (max-width: 800px) {
  #notifications-page .card {
    width: 80%;
  }
}

#notifications-page .row {
  text-align: left;
  margin: 20px 0;
}

#notifications-page .button {
  float: right;
  border-radius: 10px;
}

#notifications-page .link {
  color: #169cc6;
  text-decoration: none;
}

#notifications-page .modal-icon {
  font-size: 35px;
}

#notifications-page .modal-col {
  text-align: center;
}

#notifications-page .modal-checkmark-icon {
  font-size: 35px;
  color: #5cb85c;
}

#notifications-page .modal-transaction-completed {
  text-align: center;
}

#notifications-page .modal-transaction-completed-text {
  position: relative;
  bottom: 10px;
  padding-left: 5px;
  display: inline;
}

#notifications-page .deny-button {
  float: left;
  margin-right: 10px;
}

#notifications-page .accept-button {
  float: left;
}

#notifications-page .qr-code {
  display: block;
  margin: 2% auto;
}

/* DATA VISUALIZATION PAGE */
#data-visual-page .container {
  margin-top: 5%;
}

#data-visual-page .header {
  font-size: 24px;
  margin-bottom: 2%;
  text-align: center;
  margin-bottom: 30px;
}

#data-visual-page .title {
  font-size: 24px;
}

#data-visual-page .col-md-6,
#data-visual-page .col-sm-12 {
  text-align: center;
  margin-bottom: 40px;
}

#data-visual-page .row {
  margin-bottom: 2%;
}

#data-visual-page .card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  padding: 20px;
}
