<main id="data-visual-page">
  <!-- Header Component -->
  <app-header></app-header>

  <div class="container justify-content-center">
    <h1 class="header">Data Visualization</h1>
    <div class="row">

      <div class="col-6">
        <div class="card" style="width: 100%;">
          <img src="../../../../assets/visuals/brands.png" class="card-img-top" alt="Pie Chart of Brands" style="width:100%">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <button id="brandsButton" class="btn btn-primary" (click)="onClickBrandsButton()">Download CSV</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="width: 100%;">
          <img src="../../../../assets/visuals/toy_requests.png" class="card-img-top" alt="Histogram of Toy Requests" style="width:100%;">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <button id="toyRequestsButton" class="btn btn-primary" (click)="onClickToyRequestsButton()">Download CSV</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="width: 100%;">
          <img src="../../../../assets/visuals/categories.png" class="card-img-top" alt="Pie Chart of Categories" style="width:100%">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <button id="categoriesButton" class="btn btn-primary" (click)="onClickCategoriesButton()">Download CSV</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="width: 100%;">
          <img src="../../../../assets/visuals/user_requests.png" class="card-img-top" alt="Pie Chart of User Requests" style="width:100%; margin-top: 20%">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <button id="userRequestsButton" class="btn btn-primary" (click)="onClickUserRequestsButton()">Download CSV</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="width: 100%;">
          <img src="" class="card-img-top" alt="Description" style="width:100%; margin-top: 20%">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <button class="btn btn-primary">Download CSV</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="width: 100%;">
          <img src="" class="card-img-top" alt="Description" style="width:100%; margin-top: 20%">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <button class="btn btn-primary">Download CSV</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="width: 100%;">
          <img src="" class="card-img-top" alt="Description" style="width:100%; margin-top: 20%">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <button class="btn btn-primary">Download CSV</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="width: 100%;">
          <img src="" class="card-img-top" alt="Description" style="width:100%; margin-top: 20%">
          <div class="card-body">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <button class="btn btn-primary">Download CSV</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
