<main id="data-visual-page">
  <!-- Header Component -->
  <app-header></app-header>

  <div class="container justify-content-center">
    <h1 class="header">Data Visualization</h1>
    <div class="row">
      <div class="col-6">
        <img src="../../../../assets/visuals/brands.png" alt="Pie Chart of Brands" style="width:100%">
        <button class="btn btn-primary" (click)="onClickBrandsButton()">Download CSV</button>
      </div>
      <div class="col-6">
        <img src="../../../../assets/visuals/brands.png" alt="Pie Chart of Brands" style="width:100%">
        <button class="btn btn-primary" (click)="onClickToyRequestsButton()">Download CSV</button>
      </div>
      <div class="col-6">
        <img src="../../../../assets/visuals/brands.png" alt="Pie Chart of Brands" style="width:100%">
        <button class="btn btn-primary">Download CSV</button>
      </div>
      <div class="col-6">
        <img src="../../../../assets/visuals/brands.png" alt="Pie Chart of Brands" style="width:100%">
        <button class="btn btn-primary">Download CSV</button>
      </div>
      <div class="col-6">
        <img src="../../../../assets/visuals/brands.png" alt="Pie Chart of Brands" style="width:100%">
        <button class="btn btn-primary">Download CSV</button>
      </div>
      <div class="col-6">
        <img src="../../../../assets/visuals/brands.png" alt="Pie Chart of Brands" style="width:100%">
        <button class="btn btn-primary">Download CSV</button>
      </div>
      <div class="col-6">
        <img src="../../../../assets/visuals/brands.png" alt="Pie Chart of Brands" style="width:100%">
        <button class="btn btn-primary">Download CSV</button>
      </div>
      <div class="col-6">
        <img src="../../../../assets/visuals/brands.png" alt="Pie Chart of Brands" style="width:100%">
        <button class="btn btn-primary">Download CSV</button>
      </div>
    </div>
  </div>
</main>
