<script>
  window.$ = window.jQuery = require('jquery');
</script>

<main id="home-page">
  <!-- Header Component -->
  <app-header></app-header>

  <div class="container">
    <h1 class="header">Welcome {{ user }}</h1>

    <div class="row">
      <div class="col-6 search-col">
        <!-- <app-search-bar></app-search-bar> -->
        <button class="btn btn-primary refine-area" data-toggle="modal" data-target="#refineModal"><i
            class="ri-equalizer-line refine-icon"></i>Refine</button>
      </div>
      <div class="col-6">
        <app-add-toy-button></app-add-toy-button>
      </div>
    </div>
    <app-dashboard></app-dashboard>
  </div>

  <div class="modal fade" id="refineModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Refine Your Search</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
          
            <h5>Conditions</h5>
            <div *ngFor="let data of Data; let i=index">
              <div *ngIf="data.name == 'Condition'">
                <label class="btn btn-secondary active">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
                  {{data.value}}
                </label>
              </div>
            </div>
          
            <h5>Categories</h5>
            <div *ngFor="let data of Data; let i=index">
              <div *ngIf="data.name == 'Category'">
                <label class="btn btn-secondary active">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
                  {{data.value}}
                </label>
              </div>
            </div>
          
            <h5>Age Ranges</h5>
            <div *ngFor="let data of Data; let i=index">
              <div *ngIf="data.name == 'Age Range'">
                <label class="btn btn-secondary active">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
                  {{data.value}}
                </label>
              </div>
            </div>
          
            <h5>Brands</h5>
            <div *ngFor="let data of Data; let i=index">
              <div *ngIf="data.name == 'Brand'">
                <label class="btn btn-secondary active">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
                  {{data.value}}
                </label>
              </div>
            </div>
                    
          
          
            
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-secondary" value="Submit">
          </form>







          <!-- <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
          <!- <form [formGroup]="form" novalidate> ->

            <div id="conditions">
              <h4 class="filterTitle">Conditions:</h4>
              <div class="row col-12">
                <div *ngFor="let data of Data; let i=index">
                  <div *ngIf="data.name == 'conditions'">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: 5px;">
                      <label class="btn btn-secondary active">
                        <input type="checkbox" checked autocomplete="off" [value]="data.value" (change)="onCheckboxChange($event)" />
                        {{data.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- <div id="categories">
              <h4 class="filterTitle">Categories:</h4>
              <div class="row col-12">
                <div *ngFor="let data of Data; let i=index">
                  <div *ngIf="data.name == 'categories'">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: 5px;">
                      <label class="btn btn-secondary active">
                        <input type="checkbox" checked autocomplete="off" [value]="data.value" (change)="onCheckboxChange($event)" />
                        {{data.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="ageRanges">
              <h4 class="filterTitle">Age Ranges:</h4>
              <div class="row col-12">
                <div *ngFor="let data of Data; let i=index">
                  <div *ngIf="data.name == 'ageRanges'">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: 5px;">
                      <label class="btn btn-secondary active">
                        <input type="checkbox" checked autocomplete="off" [value]="data.value" (change)="onCheckboxChange($event)" />
                        {{data.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="brands">
              <h4 class="filterTitle">Brands:</h4>
              <div class="row col-12">
                <div *ngFor="let data of Data; let i=index">
                  <div *ngIf="data.name == 'brands'">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: 5px;">
                      <label class="btn btn-secondary active">
                        <input type="checkbox" checked autocomplete="off" [value]="data.value" (change)="onCheckboxChange($event)" />
                        {{data.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-secondary" data-dismiss="modal">Apply</button> -->

              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="submitForm()">Apply</button> -->
              <!-- <label class="btn btn-primary"> <input type="submit" data-dismiss="modal" /> Apply </label> -->
            <!-- </div> -->

            <!-- <input type="submit" value="Submit"> -->

          <!-- </form> -->

        </div>

      </div>
    </div>
  </div>
</main>