<main id="home-page">
  <!-- Header Component -->
  <app-header></app-header>

  <div class="container">
    <h1 class="header">Home Page</h1>

    <div class="row">
      <div class="col-6 search-col">
          <form class="form-inline search-form">
              <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search Toy Trade" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit"><i id="search-icon" class="ri-search-line"></i> Search</button>
          </form>
      </div>

      <div class="col-6">
          <button class="btn btn-primary float-right" onclick="handleAddToyClick()">+ Add Toy</button>
      </div>
    </div>
    <app-dashboard></app-dashboard>
  </div>
</main>
