<main id="profile-page">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="home.html">
            <img id="navbar-logo" src="assets/img/logo.png" height="50" alt="Toy Trade Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerlink="/home"><i class="ri-home-2-line icon"></i>Home</a>
            <a class="nav-item nav-link" href="messaging.html"><i class="ri-message-line icon"></i>Messages</a>
            <a class="nav-item nav-link" href="notifications.html"><i class="ri-notification-2-line icon"></i>Notifications</a>
            <a class="nav-item nav-link" href="profile.html"><i class="ri-user-3-line icon"></i>Profile</a>
            <a class="nav-item nav-link" href="index.html"><i class="ri-logout-box-line icon"></i>Logout</a>
          </div>
        </div>
    </nav>

    <div class="container">
      <h1 class="header">My Profile</h1>

      <div class="row justify-content" style="margin-top:50px; width:50%; margin-left: auto; margin-right: auto;">
          <div class="col-12 col-sm-4 text-right">
              <img src="assets/img/placeholders/Avatar.png">
          </div>
          <div class="col-12 col-sm-8 profile-description">
              <h5 style="color: #169CC6; margin-top: 20px;">@thisisme</h5>
              <p>Hi, I like to trade board games! Feel free to request any of my items!</p>
          </div>
      </div>

      <div class="row">       
        <div class="col text-right">
            <button class="btn btn-primary my-2 my-sm-0 float-right" onclick="handleAddToyClick()">+ Add Toy</button>
        </div>
      </div>


      <!-- Temporary card 1 -->
      <div class="row justify-content">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <img class="profile-icon" src="assets/svg/profileIcon.svg" alt="Profile Icon">
                    <a class="link user-link" href="">@thisisme</a>
                </div>
                <div class="card-body">
                    <div class="card-row row container">
                        <div class="card-col col-8">
                            <img class="toy-image" src="assets/img/placeholders/catan.jpg" alt="Catan Board Game">
                        </div>
                        <div class="card-col col-4">
                            <h5 class="card-title">Catan Board Game</h5>
                            <button type="button" class="btn btn-primary request-button">Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <img class="profile-icon" src="assets/svg/profileIcon.svg" alt="Profile Icon">
                    <a class="link user-link" href="">@thisisme</a>
                </div>
                <div class="card-body">
                    <div class="card-row row container">
                        <div class="card-col col-8">
                            <img class="toy-image" src="assets/img/placeholders/life.jpg" alt="Life Board Game">
                        </div>
                        <div class="card-col col-4">
                            <h5 class="card-title">Life Board Game</h5>
                            <button type="button" class="btn btn-primary request-button">Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <img class="profile-icon" src="assets/svg/profileIcon.svg" alt="Profile Icon">
                    <a class="link user-link" href="">@thisisme</a>
                </div>
                <div class="card-body">
                    <div class="card-row row container">
                        <div class="card-col col-8">
                            <img class="toy-image" src="assets/img/placeholders/ticketToRide.jpg" alt="Ticket to Ride Board Game">
                        </div>
                        <div class="card-col col-4">
                            <h5 class="card-title">Ticket to Ride Board Game</h5>
                            <button type="button" class="btn btn-primary request-button">Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <img class="profile-icon" src="assets/svg/profileIcon.svg" alt="Profile Icon">
                    <a class="link user-link" href="">@thisisme</a>
                </div>
                <div class="card-body">
                    <div class="card-row row container">
                        <div class="card-col col-8">
                            <img class="toy-image" src="assets/img/placeholders/monopoly.jpg" alt="Monopoly Board Game">
                        </div>
                        <div class="card-col col-4">
                            <h5 class="card-title">Monopoly Board Game</h5>
                            <button type="button" class="btn btn-primary request-button">Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>
  </main>