<div class="row">
  <div class="col-6 search-col">
    <!-- <app-search-bar></app-search-bar> -->
    <button class="btn btn-primary refine-area" data-toggle="modal" data-target="#refineModal"><i
        class="ri-equalizer-line refine-icon"></i>Refine</button>
  </div>
  <div class="col-6">
    <app-add-toy-button></app-add-toy-button>
  </div>
</div>

<!-- Cards Dashboard -->
<div class="row justify-content">
  <div *ngFor="let toy of toys" class="col-lg-6 col-md-12 col-sm-12">
    <div class="card toy-card" data-toggle="modal" [attr.data-target]="'#toy-' + toy.objectId">
      <div class="card-header">
        <img class="profile-icon" src="{{toy.profileUrl}}" alt="Profile Icon">
        <a class="link user-link" routerLink="/profile/{{toy.userId}}" skipLocationChange>{{toy.username}}</a>
      </div>
      <div class="card-body">
        <div class="card-row row container">
          <div class="card-col col-8">
            <!-- <img class="toy-image" src="assets/uploads/{{toy.objectId}}.jpg" alt="{{toy.title}}"> -->
            <img class="toy-image" src="../../../assets/uploads/{{toy.objectId}}.jpg" alt="{{toy.title}}">
          </div>
          <div class="card-col col-4">
            <h5 class="card-title">{{toy.title}}</h5>
            <button type="button" class="btn btn-primary request-button">More Info</button>
          </div>
        </div>
      </div>
    </div>

    <!-- TOY INFO MODAL -->
    <div class="modal fade" id="toy-{{toy.objectId}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{toy.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="modal-toy-image" src="../../../assets/uploads/{{toy.objectId}}.jpg" alt="{{toy.title}}">
            <div class="modal-toy-description">
              <div class="row">
                <div class="col-6 modal-col">
                  <div class="row">
                    <i class="ri-price-tag-3-line modal-icon"></i>
                    <p class="modal-icon-text">{{toy.brand}}</p>
                  </div>
                </div>
                <div class="col-6 modal-col">
                  <div class="row">
                    <i class="ri-money-dollar-circle-line modal-icon"></i>
                    <p class="modal-icon-text">${{toy.estimatedValue}}</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6 modal-col">
                  <div class="row">
                    <i class="ri-checkbox-line modal-icon"></i>
                    <p class="modal-icon-text">{{toy.condition}}</p>
                  </div>
                </div>
                <div class="col-6 modal-col">
                  <div class="row">
                    <i class="ri-history-line modal-icon"></i>
                    <p class="modal-icon-text">{{toy.ageRange}} Years Old</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <i class="ri-information-line modal-icon"></i>
                <p class="modal-icon-text">{{toy.description}}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <div *ngIf="toy.userId != uauth.user.uid">
              <button type="button" class="btn btn-primary" (click)="requestToy(toy)" data-dismiss="modal">Request</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="refineModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Refine Your Search</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <form [formGroup]="refineForm">
            
            <h5>Conditions</h5>
            <div *ngFor="let data of Data; let i=index">
              <div *ngIf="data.name == 'Condition'">
                <label class="btn btn-secondary active">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event, 'conditions')" />
                  {{data.value}}
                </label>
              </div>
            </div>
          
            <h5>Categories</h5>
            <div *ngFor="let data of Data; let i=index">
              <div *ngIf="data.name == 'Category'">
                <label class="btn btn-secondary active">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event, 'categories')" />
                  {{data.value}}
                </label>
              </div>
            </div>
          
            <h5>Age Ranges</h5>
            <div *ngFor="let data of Data; let i=index">
              <div *ngIf="data.name == 'Age Range'">
                <label class="btn btn-secondary active">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event, 'ageRanges')" />
                  {{data.value}}
                </label>
              </div>
            </div>
          
            <h5>Brands</h5>
            <div *ngFor="let data of Data; let i=index">
              <div *ngIf="data.name == 'Brand'">
                <label class="btn btn-secondary active">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event, 'brands')" />
                  {{data.value}}
                </label>
              </div>
            </div>
                    
          
          
            
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-secondary" value="Submit" data-dismiss="modal" (click)="submitForm()">
          </form>





  <!-- TOY INFO MODAL -->
  <!-- <div class="modal fade" id="toyInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lego Star Wars Mini Figures</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="modal-toy-image" src="assets/img/placeholders/legoStarWars.jpg" alt="Lego Star Wars Mini Figures">
          <div class="modal-toy-description">
            <div class="row">
              <div class="col-6 modal-col">
                <div class="row">
                  <i class="ri-price-tag-3-line modal-icon"></i>
                  <p class="modal-icon-text">Lego</p>
                </div>
              </div>
              <div class="col-6 modal-col">
                <div class="row">
                  <i class="ri-money-dollar-circle-line modal-icon"></i>
                  <p class="modal-icon-text">$15</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 modal-col">
                <div class="row">
                  <i class="ri-checkbox-line modal-icon"></i>
                  <p class="modal-icon-text">Used: Very Good</p>
                </div>
              </div>
              <div class="col-6 modal-col">
                <div class="row">
                  <i class="ri-history-line modal-icon"></i>
                  <p class="modal-icon-text">10-12 years old</p>
                </div>
              </div>
            </div>

            <div class="row">
              <i class="ri-information-line modal-icon"></i>
              <p class="modal-icon-text">This is a Set of Star Wars Legos.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Request</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        <img class="profile-icon" src="assets/svg/profileIcon.svg" alt="Profile Icon">
        <a class="link user-link" href="">@boardgames44</a>
      </div>
      <div class="card-body">
        <div class="card-row row container">
          <div class="card-col col-8">
            <img class="toy-image" src="assets/img/placeholders/candyLand.jpg" alt="Hasbro Candy Land Game">
          </div>
          <div class="card-col col-4">
            <h5 class="card-title">Hasbro Candy Land Game</h5>
            <button type="button" class="btn btn-primary request-button">Request</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        <img class="profile-icon" src="assets/svg/profileIcon.svg" alt="Profile Icon">
        <a class="link user-link" href="">@toystorytoys</a>
      </div>
      <div class="card-body">
        <div class="card-row row container">
          <div class="card-col col-8">
            <img class="toy-image" src="assets/img/placeholders/woody.png" alt="Woody from Toy Story">
          </div>
          <div class="card-col col-4">
            <h5 class="card-title">Woody from Toy Story</h5>
            <button type="button" class="btn btn-primary request-button">Request</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        <img class="profile-icon" src="assets/svg/profileIcon.svg" alt="Profile Icon">
        <a class="link user-link" href="">@toystorytoys</a>
      </div>
      <div class="card-body">
        <div class="card-row row container">
          <div class="card-col col-8">
            <img class="toy-image" src="assets/img/placeholders/buzz.png" alt="Buzz Lightyear from Toy Story">
          </div>
          <div class="card-col col-4">
            <h5 class="card-title">Buzz Lightyear from Toy Story</h5>
            <button type="button" class="btn btn-primary request-button">Request</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
