<div class="card" data-toggle="modal" data-target="#toyInfoModal">
  <div class="card-header">
    <img class="profile-icon" src="assets/svg/profileIcon.svg" alt="Profile Icon">
    <a class="link user-link" href="">@toycollector123</a>
  </div>
  <div class="card-body">
    <div class="card-row row container">
      <div class="card-col col-8">
        <img class="toy-image" src="assets/img/placeholders/legoStarWars.jpg" alt="Lego Star Wars Mini Figures">
      </div>
      <div class="card-col col-4">
        <h5 class="card-title">Lego Star Wars Mini Figures</h5>
        <button type="button" class="btn btn-primary request-button">Request</button>
      </div>
    </div>
  </div>
</div>
